<div class="container mt-5 mb-5">
  <h1 class="text-center">About me</h1>
  <p>
    <br><br>
    Dr. Calin Nemes is an Assistant Professor in the Computer Science Department at Babes-Bolyai University. Calin holds a Ph.D. in Computer Science, a
    Master's in
    Advanced information systems: modeling, design, development and a Bachelor's in Computer Science from Babes-Bolyai University, Cluj-Napoca, Romania.
    <br>
    With a passion for cutting-edge technologies and a commitment to fostering a stimulating learning environment, Dr. Calin Nemes
    brings a wealth of
    expertise and academic rigor to the classroom.
    <br>
    As an educator, Dr. Calin Nemes is dedicated to inspiring students to explore the vast and evolving field of data mining, web design, and object-oriented
    programming. By integrating real-world applications and hands-on projects into the curriculum, Dr. Calin Nemes aims to equip students with the practical skills and
    theoretical knowledge necessary for success in today's technology-driven landscape.
    <br>
    Before joining UBB, Dr. Calin Nemes gained valuable industry experience in IT, where they received remarkable accomplishments in the automotive industry,
    as well as in the field of artificial intelligence, earning recognition for groundbreaking research and innovative contributions. This real-world
    experience enriches
    their teaching by providing students with
    insights into
    industry practices and the latest trends.
  </p>
</div>
