<div class="banner">
  <div class="content">
    <h1 class="mb-5">Assistant Professor at UBB</h1>
    <a routerLink="about">About <i class="bi bi-arrow-right"></i></a>
  </div>
</div>
<div class="container mt-5 mb-4">
  <h1 class="text-center">My Courses</h1>
  <div class="row mt-5">
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <p>Data Mining</p>
        <a routerLink="/course/1" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <p>Adaptive Web Design</p>
        <a routerLink="/course/2" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <p>Object Oriented Programming</p>
        <a routerLink="/course/3" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
      </div>

    </div>
  </div>
</div>

<! --coursebox-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-3" *ngFor="let cd of courseData">-->
<!--      <div class="coursebox">-->
<!--        <h1>{{cd.courseName}}</h1>-->
<!--        <p>{{cd.courseDetails}}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
